---
wsl_setup:
  # name: (default is same distro)
  # distro: "Ubuntu"
  # version: 2
  # input_user: false
  # require_password: false
  # work: "."
  # location: "image"
  # config: "wsl_setup.yml"
  # dir: (default is Rakefile directory)
  # playbooks: "playbooks"
  # proxy: http://proxy.example.com:8080
  # http_proxy: http://proxy.example.com:8080
  # https_proxy: http://proxy.example.com:8080
  # skip_location: false
  # skip_update: false
# debug: false
# # general (default: true)
# update: true
# lang: true
# font: true
# # additional (default: false)
# app: false
# srv: false
# gui: false
# git: false
# vscode: false
# anyenv: false
# home: false
