---
wsl_setup: {}
  # name: (default is same distro)
  # distro: "Ubuntu"
  # version: 2
  # work: "."
  # location: "image"
  # config: "wsl_setup.yml"
  # dir: (default is Rakefile directory)
  # playbooks: "playbooks"
  # proxy: http://proxy.example.com:8080
  # http_proxy: http://proxy.example.com:8080
  # https_proxy: http://proxy.example.com:8080
  # skip_update: false
  # skip_autoremove: false
