- name: Add hashicorp gpg for apt
  become: true
  ansible.builtin.command:
    argv:
      - curl
      - -fsSL
      - https://apt.releases.hashicorp.com/gpg
      - -o
      - '{{ apt_keyrings_dir }}/hashicorp.asc'
    creates: '{{ apt_keyrings_dir }}/hashicorp.asc'
  environment: '{{ proxy_env }}'
  when: ansible_pkg_mgr == "apt"

- name: Add hashicorp repository for apt
  become: true
  ansible.builtin.apt_repository:
    repo: >-
      deb
      [arch={{ apt_architecture }}
      signed-by={{ apt_keyrings_dir }}/hashicorp.asc]
      https://apt.releases.hashicorp.com
      {{ apt_release }}
      main
    filename: hashicorp
    state: present
  when: ansible_pkg_mgr == "apt"

- name: Install vagrant by apt
  become: true
  ansible.builtin.apt:
    name: vagrant
    state: present
    update_cache: true
  when: ansible_pkg_mgr == "apt"

- name: Import hashicorp gpg for dnf
  become: true
  ansible.builtin.rpm_key:
    state: present
    key: https://rpm.releases.hashicorp.com/gpg
  environment: '{{ proxy_env }}'
  when: ansible_pkg_mgr == "dnf"

- name: Add hashicorp repository for dnf
  become: true
  ansible.builtin.command:
    argv:
      - dnf
      - config-manager
      - --add-repo
      - https://rpm.releases.hashicorp.com/RHEL/hashicorp.repo
  changed_when: true
  when: ansible_pkg_mgr == "dnf"

- name: Install vagrant by dnf
  become: true
  ansible.builtin.dnf:
    name: vagrant
    state: present
    update_cache: true
  when: ansible_pkg_mgr == "dnf"

- name: Task wsl
  ansible.builtin.include_tasks:
    file: wsl.yml
  when: vagrant_wsl
